<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Events APP</title>
		<style>
			h1,h2,h3 {text-align: center;}
		</style>
		
		
		<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      	<!--Import materialize.css-->
      	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      	<!--Let browser know website is optimized for mobile-->
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<h1>Event Detail</h1>
		<br>
		<div th:each="event : ${event}" class="container">
			<a class="waves-effect waves-light btn" href="/events"><i class="material-icons left">list</i> Event List</a>
			<div class="row">
				<p>Name: <span th:text="${event.name}"></span></p>
				<p>Place: <span th:text="${event.place}"></span></p>
				<p>Date: <span th:text="${event.date}"></span></p>
				<p>Hour: <span th:text="${event.hour}"></span></p>
			</div>
			
			<form method="post" id="eventDetailForm">
				Guest Name: <input type="text" value="" name="guestName" />
				National ID: <input type="text" value="" name="nationalId" />
				
				<a class="waves-effect waves-light btn" onclick="document.getElementById('eventDetailForm').submit();"><i class="material-icons left">save</i>Add Guest</a>
				<a class="waves-effect waves-light btn" href="/events"><i class="material-icons left">cancel</i>Cancel</a>
			</form>
		</div>
		
		<!--JavaScript at end of body for optimized loading-->
      	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	</body>
</html>